USE [master]
GO
/****** Object:  Database [QUEGOLAZO]    Script Date: 24/05/2014 06:22:08 p.m. ******/
CREATE DATABASE [QUEGOLAZO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUEGOLAZO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUEGOLAZO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUEGOLAZO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUEGOLAZO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUEGOLAZO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUEGOLAZO]
GO
/****** Object:  Table [dbo].[Campeonatos]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Campeonatos](
	[idCampeonato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[urlLogo] [varchar](500) NULL,
	[idTamañoCancha] [int] NOT NULL,
	[descripcion] [varchar](300) NULL,
	[idSuperficieDeCancha] [int] NULL,
	[cantidadMaximaJugadores] [int] NOT NULL,
	[idTipoFixture] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
 CONSTRAINT [PK_Campeonatos] PRIMARY KEY CLUSTERED 
(
	[idCampeonato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Delegados]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Delegados](
	[idDelegado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[email] [varchar](90) NULL,
	[telefono] [varchar](15) NOT NULL,
	[domicilio] [varchar](120) NULL,
	[idEquipo] [int] NOT NULL,
 CONSTRAINT [PK_DelegadosDeEquipos] PRIMARY KEY CLUSTERED 
(
	[idDelegado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Equipos](
	[idEquipo] [int] IDENTITY(1,1) NOT NULL,
	[idCampeonato] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[urlLogo] [varchar](300) NULL,
	[colorDeCamisetaPrimario] [varchar](10) NULL,
	[colorDeCamisetaSecundario] [varchar](10) NULL,
	[directorTecnico] [varchar](50) NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EquipoXCampeonato]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoXCampeonato](
	[idEquipo] [int] NOT NULL,
	[idCampeonato] [int] NOT NULL,
	[partidosGanados] [int] NULL,
	[partidosPerdidos] [int] NULL,
	[partidosEmpatados] [int] NULL,
	[golesAFavor] [int] NULL,
	[golesContra] [int] NULL,
 CONSTRAINT [PK_EquipoXCampeonato] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC,
	[idCampeonato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estados]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estados](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ambito] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosCampeonatos] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fechas]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fechas](
	[idFecha] [int] NOT NULL,
	[idCampeonato] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Fechas] PRIMARY KEY CLUSTERED 
(
	[idFecha] ASC,
	[idCampeonato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[idPartido] [int] NOT NULL,
	[idFecha] [int] NOT NULL,
	[idCampeonato] [int] NOT NULL,
	[idEquipoLocal] [int] NULL,
	[idEquipoVisitante] [int] NULL,
	[golesLocal] [int] NULL,
	[golesVisitante] [int] NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[idPartido] ASC,
	[idFecha] ASC,
	[idCampeonato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SuperficiesDeCancha]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SuperficiesDeCancha](
	[idSuperficieDeCancha] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SuperficiesDeCancha] PRIMARY KEY CLUSTERED 
(
	[idSuperficieDeCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TamañosCancha]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TamañosCancha](
	[idTamañoCancha] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[cantidadDeJugadores] [int] NOT NULL,
 CONSTRAINT [PK_TamañosCancha] PRIMARY KEY CLUSTERED 
(
	[idTamañoCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TiposFixture]    Script Date: 24/05/2014 06:22:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TiposFixture](
	[idTipoFixture] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TiposFixture] PRIMARY KEY CLUSTERED 
(
	[idTipoFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Campeonatos] ON 

INSERT [dbo].[Campeonatos] ([idCampeonato], [nombre], [urlLogo], [idTamañoCancha], [descripcion], [idSuperficieDeCancha], [cantidadMaximaJugadores], [idTipoFixture], [idEstado]) VALUES (1, N'Prueba Diagramado', N'http://www.google.com', 1, N'hola', 1, 9, 1, 2)
INSERT [dbo].[Campeonatos] ([idCampeonato], [nombre], [urlLogo], [idTamañoCancha], [descripcion], [idSuperficieDeCancha], [cantidadMaximaJugadores], [idTipoFixture], [idEstado]) VALUES (2, N'Prueba Registrado', N'http://www.google.com', 1, N'hola', 1, 9, 1, 1)
INSERT [dbo].[Campeonatos] ([idCampeonato], [nombre], [urlLogo], [idTamañoCancha], [descripcion], [idSuperficieDeCancha], [cantidadMaximaJugadores], [idTipoFixture], [idEstado]) VALUES (3, N'Otra Prueba Registrada', N'http://www.google.com', 1, N'hola', 1, 9, 1, 1)
SET IDENTITY_INSERT [dbo].[Campeonatos] OFF
SET IDENTITY_INSERT [dbo].[Delegados] ON 

INSERT [dbo].[Delegados] ([idDelegado], [nombre], [email], [telefono], [domicilio], [idEquipo]) VALUES (1, N'hola', N'paupedrosa30@gmail.com', N'03514650551', N'hola', 1)
INSERT [dbo].[Delegados] ([idDelegado], [nombre], [email], [telefono], [domicilio], [idEquipo]) VALUES (2, N'llll', N'paupedrosa30@gmail.com', N'03514650551', N'lll', 2)
INSERT [dbo].[Delegados] ([idDelegado], [nombre], [email], [telefono], [domicilio], [idEquipo]) VALUES (3, N'pau', N'paupedrosa30@gmail.com', N'03514650551', N'laksalksslaks', 3)
SET IDENTITY_INSERT [dbo].[Delegados] OFF
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([idEquipo], [idCampeonato], [nombre], [urlLogo], [colorDeCamisetaPrimario], [colorDeCamisetaSecundario], [directorTecnico]) VALUES (1, 2, N'Prueba Diagramado', N'http://www.google.com', N'Azul', N'Azul', N'hola')
INSERT [dbo].[Equipos] ([idEquipo], [idCampeonato], [nombre], [urlLogo], [colorDeCamisetaPrimario], [colorDeCamisetaSecundario], [directorTecnico]) VALUES (2, 2, N'Prueba Registrado', N'http://www.lospii.com', N'Azul', N'Azul', N'll')
INSERT [dbo].[Equipos] ([idEquipo], [idCampeonato], [nombre], [urlLogo], [colorDeCamisetaPrimario], [colorDeCamisetaSecundario], [directorTecnico]) VALUES (3, 3, N'Pruebaaa', N'http://www.lospii.com', N'Azul', N'Azul', N'alskdlasd')
SET IDENTITY_INSERT [dbo].[Equipos] OFF
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([idEstado], [nombre], [ambito]) VALUES (1, N'Registrado', N'Campeonato')
INSERT [dbo].[Estados] ([idEstado], [nombre], [ambito]) VALUES (2, N'Diagramado', N'Campeonato')
INSERT [dbo].[Estados] ([idEstado], [nombre], [ambito]) VALUES (3, N'Programada', N'Fecha')
SET IDENTITY_INSERT [dbo].[Estados] OFF
SET IDENTITY_INSERT [dbo].[SuperficiesDeCancha] ON 

INSERT [dbo].[SuperficiesDeCancha] ([idSuperficieDeCancha], [nombre]) VALUES (1, N'Césped Natural')
INSERT [dbo].[SuperficiesDeCancha] ([idSuperficieDeCancha], [nombre]) VALUES (2, N'Césped Sintético')
INSERT [dbo].[SuperficiesDeCancha] ([idSuperficieDeCancha], [nombre]) VALUES (3, N'Tierra')
SET IDENTITY_INSERT [dbo].[SuperficiesDeCancha] OFF
SET IDENTITY_INSERT [dbo].[TamañosCancha] ON 

INSERT [dbo].[TamañosCancha] ([idTamañoCancha], [nombre], [cantidadDeJugadores]) VALUES (1, N'Fútbol 5', 5)
INSERT [dbo].[TamañosCancha] ([idTamañoCancha], [nombre], [cantidadDeJugadores]) VALUES (2, N'Fútbol 7', 7)
INSERT [dbo].[TamañosCancha] ([idTamañoCancha], [nombre], [cantidadDeJugadores]) VALUES (3, N'Fútbol 8', 8)
SET IDENTITY_INSERT [dbo].[TamañosCancha] OFF
SET IDENTITY_INSERT [dbo].[TiposFixture] ON 

INSERT [dbo].[TiposFixture] ([idTipoFixture], [nombre]) VALUES (1, N'Ida')
INSERT [dbo].[TiposFixture] ([idTipoFixture], [nombre]) VALUES (2, N'Ida y Vuelta')
SET IDENTITY_INSERT [dbo].[TiposFixture] OFF
ALTER TABLE [dbo].[Campeonatos]  WITH CHECK ADD  CONSTRAINT [FK_Campeonatos_Estados] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estados] ([idEstado])
GO
ALTER TABLE [dbo].[Campeonatos] CHECK CONSTRAINT [FK_Campeonatos_Estados]
GO
ALTER TABLE [dbo].[Campeonatos]  WITH CHECK ADD  CONSTRAINT [FK_Campeonatos_SuperficiesDeCancha] FOREIGN KEY([idSuperficieDeCancha])
REFERENCES [dbo].[SuperficiesDeCancha] ([idSuperficieDeCancha])
GO
ALTER TABLE [dbo].[Campeonatos] CHECK CONSTRAINT [FK_Campeonatos_SuperficiesDeCancha]
GO
ALTER TABLE [dbo].[Campeonatos]  WITH CHECK ADD  CONSTRAINT [FK_Campeonatos_TamañosCancha] FOREIGN KEY([idTamañoCancha])
REFERENCES [dbo].[TamañosCancha] ([idTamañoCancha])
GO
ALTER TABLE [dbo].[Campeonatos] CHECK CONSTRAINT [FK_Campeonatos_TamañosCancha]
GO
ALTER TABLE [dbo].[Campeonatos]  WITH CHECK ADD  CONSTRAINT [FK_Campeonatos_TiposFixture] FOREIGN KEY([idTipoFixture])
REFERENCES [dbo].[TiposFixture] ([idTipoFixture])
GO
ALTER TABLE [dbo].[Campeonatos] CHECK CONSTRAINT [FK_Campeonatos_TiposFixture]
GO
ALTER TABLE [dbo].[Delegados]  WITH CHECK ADD  CONSTRAINT [FK_Delegados_Equipos] FOREIGN KEY([idEquipo])
REFERENCES [dbo].[Equipos] ([idEquipo])
GO
ALTER TABLE [dbo].[Delegados] CHECK CONSTRAINT [FK_Delegados_Equipos]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Campeonatos] FOREIGN KEY([idCampeonato])
REFERENCES [dbo].[Campeonatos] ([idCampeonato])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Campeonatos]
GO
ALTER TABLE [dbo].[EquipoXCampeonato]  WITH CHECK ADD  CONSTRAINT [FK_EquipoXCampeonato_Campeonato] FOREIGN KEY([idCampeonato])
REFERENCES [dbo].[Campeonatos] ([idCampeonato])
GO
ALTER TABLE [dbo].[EquipoXCampeonato] CHECK CONSTRAINT [FK_EquipoXCampeonato_Campeonato]
GO
ALTER TABLE [dbo].[EquipoXCampeonato]  WITH CHECK ADD  CONSTRAINT [FK_EquipoXCampeonato_Equipo] FOREIGN KEY([idEquipo])
REFERENCES [dbo].[Equipos] ([idEquipo])
GO
ALTER TABLE [dbo].[EquipoXCampeonato] CHECK CONSTRAINT [FK_EquipoXCampeonato_Equipo]
GO
ALTER TABLE [dbo].[Fechas]  WITH CHECK ADD  CONSTRAINT [FK_Fechas_Campeonatos] FOREIGN KEY([idCampeonato])
REFERENCES [dbo].[Campeonatos] ([idCampeonato])
GO
ALTER TABLE [dbo].[Fechas] CHECK CONSTRAINT [FK_Fechas_Campeonatos]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Equipos] FOREIGN KEY([idEquipoLocal])
REFERENCES [dbo].[Equipos] ([idEquipo])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Equipos]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Equipos1] FOREIGN KEY([idEquipoVisitante])
REFERENCES [dbo].[Equipos] ([idEquipo])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Equipos1]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Fechas] FOREIGN KEY([idFecha], [idCampeonato])
REFERENCES [dbo].[Fechas] ([idFecha], [idCampeonato])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Fechas]
GO
USE [master]
GO
