<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="FACU-PC" connectionString="Data Source=FACU-PC\SQLEXPRESS;Initial Catalog=QUEGOLAZO;Integrated Security=True"/>
    <add name="FLOR" connectionString="Data Source=FLOR\SQLEXPRESS;Initial Catalog=QUEGOLAZO;Integrated Security=True"/>
    <add name="DEPTO" connectionString="Data Source=DEPTO\SQLEXPRESS;Initial Catalog=QUEGOLAZO;Integrated Security=True"/>
    <add name="PAU" connectionString="Data Source=PAU\SQLEXPRESS;Initial Catalog=QUEGOLAZO;Integrated Security=True"/>-->
    <add name="Somee" connectionString="workstation id=QUEGOLAZO.mssql.somee.com;packet size=4096;user id=florenciaRojas_SQLLogin_1;pwd=jbzcegyzkl;data source=QUEGOLAZO.mssql.somee.com;persist security info=False;initial catalog=QUEGOLAZO"/>

  </connectionStrings>
</configuration>
